body{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.jumbotron-detail-lesson {
    background: url('./images/bonney.jpg') no-repeat center center fixed;
    /* background-size: cover; */
    color: white;

  }

  .jumbotron-detail-card1 {
    background: url('./images/articles/card-1a.jpg') no-repeat center center fixed;
    color: white;

  }

  .jumbotron-detail-card2 {
    background: url('./images/articles/banner_1.jpg');
    color: white;

  }

  .jumbotron-detail-card3 {
    background: url(./images/articles/banner_3.jpg);
    color: white;

  }

  .jumbotron-detail-card4 {
    background: url(./images/articles/artmax5.jpg);
    color: white;

  }


.custom-jumbotron {
    height: 40vh;
    background-size: cover;
}

.nav-pills .nav-link.active {
    background-color: #1d1e1f; /* Серый цвет фона */
    color: white;
}

#inputForm {
    width: 500px;
    
}

.order-detail-page {
    color: #1d1e1f;
    background-size: 50% auto;
}