* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0D0D0D;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#mainheader {
    background-color: #F2E85E;
    padding: 15px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

nav img {
    height: 30px;
}

/* Основной контейнер для aside и main */
.content-container {
    display: flex;
    flex: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    gap: 20px; /* Отступ между aside и main */
}

/* Боковое меню */
#leftmenu {
    width: 25%;
    background-color: #1A1A1A;
    padding: 15px;
    border-radius: 10px;
}

#leftmenu img {
    width: 100%;
    margin-bottom: 10px;
}

.searchbox {
    background-color: #F2E85E;
    padding: 5px;
    margin: 10px 0;
    width: 100%;
}

#leftmenu ul {
    list-style: none;
    padding: 0;
}

#leftmenu li {
    margin: 10px 0;
}

#leftmenu a {
    color: #F2E85E;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

#leftmenu a:hover {
    background-color: #F2E85E;
    color: #0D0D0D;
}

/* Основной контент */
main {
    flex: 1;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #F2E85E;
    color: #0D0D0D;
    padding: 10px;
    margin-top: auto;
}

footer a {
    color: #0D0D0D;
    text-decoration: none;
}

h1 {
    color: #fff;
    font-size: 40px;
    padding-bottom: 20px;
}

h2 {
    color: #F2E85E;
    padding-bottom: 20px;
}

p {
    padding-bottom: 20px;
}

ul {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 10px;
    text-align: center;
    color: #F2E85E;
}

th {
    background-color: #0D0D0D;
}

tr:nth-child(even) {
    background-color: #292926;
}

tr:nth-child(odd) {
    background-color: #33322e;
}

h2 {
    color: #F2E85E;
}

a {
    text-decoration: none;
    color: #F2E85E;
}

/* Медиа-запросы (адаптивность) */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
        padding: 10px;
    }

    #leftmenu {
        width: 100%;
        text-align: center;
    }

    #leftmenu img {
        width: 100%;
        height: auto;
    }

    .searchbox {
        width: 80%;
        margin: auto;
    }

    img {
        max-width: 400px;
    }
}
